

@media only screen and (min-width: 960px) {
    nav {
      width: 100%;
    }
    .flex-container {
      width: 100%;
      float: left;
    }
  
    .down-arrow {
      z-index: 5000;
    }
    
  }
  
  @media only screen and (max-width: 960px) {
  
  
    .flex-container {
      background-color: #1da1f2;
      background-color: #f5c6a5;
      background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
      /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */      /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    }
  }
  
  nav {
     color: #f26666;
     background-color: #f5c6a5;
     height: 120px;
     padding: 1.5em;
     position: relative;
     z-index: 1030;
    }
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    }
  
  .container {
    flex-direction: column;
  }
/*   
  .write-tweet {
    position: relative;
  } */
  
  .down-arrow {
    color: #f26666;
    position: relative;
    text-align: center;
  
  
  }
  
  